* {
    box-sizing: border-box;
    font-family:'montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    color: #263138;
}
header{
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:80px ;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}
header nav a {
    color: #ffffff;
    font-weight: 700;
    padding: 32px;
    text-decoration: none;
    transition: 1s;
}
header nav a:hover{
    color: rgb(102, 255, 0);

}
#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    /*top, direita.baixo , esqquerda*/
    padding: 24px 80px 128px 80px;
    position: relative;
}
h1,
h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 32px;
}
.paragrafo{
    line-height: 150%;
    margin-bottom: 37px;
}
.botao {
    background-color: #ff7255;
    border-radius: 8px;
    color: #000000;
    text-transform:uppercase ;
    width: auto;
    height: auto;
    /* vertical , horizontal*/
    padding: 16px  32px;
    text-decoration: none;
    transition: 1s;
}
.botao:hover{
    background-color: transparent;
    color: #ff7255;
}
.botao-trasparente {
    background-color: transparent;
    color: #FF9A6C;
    padding: 16px  32px;
    width: auto;
    height: auto;
    text-transform: uppercase;
    text-underline-offset: 4px;
    transition: 1s;
}
.botao-trasparente:hover{
    background-color: #FF9A6C;
    color: #000000;
}
.absoluto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -9;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}
#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}
#famacia {
    padding: 64px 80px;
    text-align: center;
}
#famacia img {
    margin: 64px auto;
}
#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}
#duvidas {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    padding: 64px 80px;
    

}
.duvida{
    display: flex;
    position: relative;
    flex-direction: column;
}

.duvida h3 {
    border: 2px solid #ff7255;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
    background-color: #00000023;
}
.duvida img {
    position: absolute;
    top: 33px;
    right: 24px;
}
.duvida .paragrafo{
    border-right: 1px solid #ff7255;
    border-bottom: 1px solid #ff7255;
    border-left: 1px solid #ff7255;
    border-radius: 1px solid #ff7255;
    border-radius: 8px;
    margin-top: -27px;
    padding:0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}
.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 34px;
    color: #000000;
}
footer{
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding: 64px 80px;
}
footer img,
footer .titulo{
    display: block;
    font-weight: 700;
    margin-bottom: 14px;
}
footer p {
    margin-bottom: 16px;
}
footer nav a {
    color: #ff0000;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    max-width: 350px;
}
footer p a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
#fim{
    background-color: #263138;
    text-align: center;
    padding: 24px;
    color: aquamarine
}
#fim a{
    color: #ff0000;
}